html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 0;
}

header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.img-container {
    width: 20%;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #232323;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

nav>a {
    color: #ffffff;
    opacity: 0.7;
    text-decoration: none;
    text-transform: uppercase;
    width: 20%;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
}

nav>a:hover {
    background-color: #54be90;
    opacity: 1;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    margin-top: 5rem;
}

.intro__title {
    background-image: radial-gradient(circle, rgba(62, 62, 62, 0.6174870943952802) 0%, rgba(13, 13, 13, 0.9980180678466076) 100%), url('/img/flower.jpg');
    background-size: cover;
    height: 30rem;
    color: #ffffff;
    text-align: center;
}

.intro__title-h1 {
    padding-top: 6rem;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.intro__title-h2 {
    margin-top: 0;
    font-size: 40px;
    font-weight: 300;
}

.intro__title-Aneta {
    color: #54be90;
    border-bottom: 6px solid white;
    font-weight: 700;
}

.intro-grey {
    margin-top: 0;
    background-color: #ebebeb;
    color: #444444;
}

.intro-grey p {
    line-height: 2rem;
    font-size: 22px;
    margin: 0 auto;
    padding: 4rem 10% 5.5rem 10%;
}

.intro-black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3.5rem 15% 1.8rem 15%;
    background-color: #232323;
}

.intro-black__items {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 22%;
}

.intro-black__items>h3 {
    color: #54be90;
    font-weight: 700;
    font-size: 1.8rem;
}

.intro-black__items>p {
    color: #ffffff;
    opacity: 0.7;
    line-height: 1.3rem;
}

.intro-circles {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: -110px;
    margin-bottom: -75px;

}

.circle {
    width: 150px;
    height: 150px;
    background-color: #ebebeb;
    border-radius: 50%;
}

.my-skills {
    padding: 2rem 10% 7rem 10%;
}

.heading-2 {
    color: #54be90;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.my-skills__bars {
    margin-bottom: 0.5rem;
}

.bar {
    display: flex;
    flex-direction: row;
}

.bar__name {
    background-color: #232323;
    color: #d4d1d1;
    font-weight: 400;
    width: 30%;
    height: 2.5rem;
    text-align: center;
    padding: 0.3rem;
    font-size: 1.5rem;
    margin: 0;
}

.bar__green {
    background-color: #54be90;
    width: 80%;
    height: 2.5rem;
    margin: 0;
}

.bar__grey {
    background-color: #ebebeb;
    width: 20%;
    height: 2.5rem;
    text-align: end;
    padding: 0.7rem 1rem;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
}

#b50green {
    width: 50%;
}

#b50grey {
    width: 50%;
}

#b60green {
    width: 60%;
}

#b60grey {
    width: 40%;
}

#b70green {
    width: 70%;
}

#b70grey {
    width: 30%;
}

.my-portfolio {
    padding: 2rem 5% 1.8rem 5%;
    background-color: #54be90;
    height: 52rem;
}

.my-portfolio>h2 {
    color: white;
}

.my-portfolio__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.my-portfolio__items {
    width: 30%;
    background-color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.9rem;
}

.my-portfolio__items>img {
    opacity: 0.7;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    width: 100%;
    max-height: 8rem;
}

.my-portfolio__items>p,
.my-portfolio__items>h4 {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

.my-portfolio__items>h4 {
    padding: 0.6rem;
    font-size: 0.9rem;
}

.my-portfolio__items-high {
    padding: 0.6rem;
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 0.6rem;
    background-color: #ebebeb;

}

.my-portfolio__items>p {
    text-align: center;
    padding: 0.8rem;
    padding-bottom: 0;
}

#my-portfolio__items-highlighted {
    background-color: black;
}

.my-portfolio__items-high>h4 {
    text-align: center;
    background-color: #54be90;
    margin: 0 2rem;
    border-radius: 5%;
    height: 1.5rem;
    color: white;
    font-weight: 300;
    padding: 0.25rem;
    box-shadow: 2px 5px 10px grey;
}

#my-portfolio__items-highlighted>img {
    opacity: 1;
}

.about-me {
    padding: 5rem 5% 1.8rem 5%;
    background-color: #ebebeb;
    height: 40rem;
}

.about-me__container {
    display: flex;
    justify-content: space-around;
}

.about-me>h2 {
    color: #232323;
    margin-top: 0;
}

.about-me img {
    border-radius: 50%;
    width: 35%;
    align-self: center;
}

.green-button {
    text-align: center;
    background-color: #54be90;
    border-radius: 5%;
    height: 1.5rem;
    width: 10rem;
    color: white;
    font-weight: 300;
    padding: 0.25rem;
    box-shadow: 2px 5px 10px grey;
    cursor: pointer;
}

.about-me__text-container {
    width: 50%;
}

.about-me__text-container>hr {
    border: 5px solid #54be90;
    border-radius: 5px;
    width: 60%;
    margin: -15px 0 0 0;
}

.about-me__text-container__bigger {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social {
    padding: 4rem 5% 1.8rem 5%;
    background-color: #232323;
    height: 20rem;
}

.social>h2 {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.social__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px
}

.social__logo {
    margin-top: 3rem;
    width: 10%;
}

.contact-me {
    padding: 5rem 15% 1.8rem 15%;
    background-color: #54be90;
    height: 47rem;
    color: white;
}

.contact-me>h2 {
    color: white;
    margin: 0;
    padding-bottom: 4rem;
}

.contact-me__formfirst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contact-me__formfirst input {
    width: 48%;
    background-color: #54be90;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid white;
    opacity: 0.5;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.contact-me__formsecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::placeholder {
    color: white;
}

.contact-me__formsecond>label {
    color: white;
    font-size: 1.4rem;
    font-weight: 5400;
    opacity: 0.5;
}

#my-message {
    height: 10rem;
    border-radius: 10px;
    border: 2px solid #54be90;
    text-align: justify, start;
    padding: 1rem;
}

.contact-me__formsecond>input[type=submit] {
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: #232323;
    color: white;
    cursor: pointer;
    height: 3rem;
    border-radius: 10px;
}


footer {
    height: 25rem;
    background-color: #ebebeb;
}

.footer-class {
    padding: 3.5rem 7% 1.8rem 7%;
    text-align: center;
}

footer img {
    width: 7%;
}

.meeting__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meeting__container>hr {
    align-self: center;
    border: 5px solid #54be90;
    border-radius: 5px;
    width: 30%;
    margin: -1rem 0 0 0;
}

.meeting__container>h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #232323;
    margin-bottom: 3rem;
}

.footer__logo-container {
    text-align: center;
    margin-bottom: 3rem;
    opacity: 0.7;
}

.footer-class p>a {
    text-decoration: none;
}


/* input text My Message must be adjuste so the text starts from left upper corner and breaks in the end of the line */